{% extends "base.html" %}
{% block content %}

<!---------------Contact Section---------->

<section class="contact" id="contact">
    <div class="contact-text">
        <h2>Contact<span>Me!</span></h2>
        <h4>If you have any project in your mind.</h4>
        <p>I am a website designer, creating bold and brave interface design for companies all across the world.</p>
        <div class="list">
            <li><a href="#">9826893892</a></li>
            <li><a href="#">nischal@gmail.com</a></li>
            <li><a href="#">[like share & subscribe]</a></li>

        </div>
        <div class="contact-icons">
            <a href="#" ><i class='bx bxl-facebook'></i></a>
            <a href="#" ><i class='bx bxl-twitter'></i></a>
            <a href="#" ><i class='bx bxl-instagram'></i></a>
            <a href="#" ><i class='bx bxl-youtube'></i></a>
        </div>
    </div>
    <div class="contact-form">
        <form action="">
         <input type="name" placeholder="Your Name" required>
         <input type="email" placeholder="Your Email" required>
         <input type="number" placeholder="Your Contact Number" required>
         <textarea name="" id="" cols="35" rows="10"  placeholder="How can I help you,Sir?" required></textarea>
         <input type="submit" value="Send Message" class="submit" required>


        </form>
    </div>
</section>

{% endblock %}