<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My School</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <!-----------------------------------------------header----------------------------------------------------------------->
    <header>

        <!---------------Home----------------->

        <ul class="navlist">
            <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'home' %}" class="active">Home</a></li>


        <!---------------News----------------->

        <li class="{% if request.path == '/news/' %} active {% endif %}"><a href="{% url 'news' %}" class="active">News</a></li>

        <!---------------Student Form----------------->

        <li class="{% if request.path == '/studentForm/' %} active {% endif %}"><a href="{% url 'studentForm' %}" class="active">Student Form</a></li>

        <!---------------Contact Us----------------->

        <li class="{% if request.path == '/contactUs/' %} active {% endif %}"><a href="{% url 'contactUs' %}" class="active">Contact Us</a></li>

        <!---------------Login----------------->

        <li class="{% if request.path == '/loginPage/' %} active {% endif %}"><a href="{% url 'loginPage' %}" class="active">Login</a></li>


        </ul>

    </header>