{% extends "base.html" %}
{% block content %}

    <!------------Home section---------->
    <section class="home" id="home"> 
        <div class="home-text">
            <div class="slide">
            </div>
            <div class="button">
            </div>
        </div>
    </section>



    <!-----------About Section--------->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/static/images/1.jpg">
        </div>

        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <h4>Website Designer</h4>
            <p>Hi, I'm Nischal, a passionate developer with expertise in web development and mobile app development. With a strong foundation in languages like Python, Java and experience working with frameworks like [React, Django, Node.js, etc.], I thrive on building innovative and scalable solutions that drive results.

                Over the past 2 years, I've worked on a wide range of projects, from creating user-friendly websites and applications to implementing complex back-end systems. My problem-solving skills and attention to detail help me turn ideas into functional, reliable code.
                
                I enjoy collaborating with teams, whether in a startup environment or large-scale projects, and I’m always eager to learn new technologies and improve my skills. When I’m not coding, you can find me.
                
                Let's build something amazing together!</p>
            <a href="#" class="btn">More About</a>
        </div>
    </section>

    
    <!------------Services section------->
    <section class="services" id="services">
    <div class="main-text">
        <h2><span>My</span>Services</h2>
    </div>
    <div class="services-content">

        {% for n in servicesData %}

        <div class="box">
            <div class="s-icons">
                <i class='{{n.service_icon}}'></i>
            </div>
            <h3>{{n.service_title}}</h3>
            <p>{{n.service_des | safe }}</p><!-- django templates filters and tag-->
            <a href="#" class="btn">Read more</a>
        </div>
 
        {% endfor %}
        <!--
        <div class="box">
            <div class="s-icons">
                <i class='bx bx-code-alt'></i>
            </div>
            <h3>Creative Design</h3>
            <p>One way to categorize the activities is in terms of the professional's area of experience such as competetive
                    analysis,corporate strategy.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>

        
        <div class="box">
            <div class="s-icons">
                <i class='bx bx-edit-alt'></i>
            </div>
            <h3>Creatuve Design</h3>
            <p>One way to categorize the activities is in terms of the professional's area of experience such as competetive
                    analysis,corporate strategy.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>
    </div>
     -->



</section>


<!------------Portfolio-------------->
<section class="portfolio" id="portfolio">
    <div class="main-text">
        <h2><span>Latest</span>Project</h2>
    </div>
    <div class="portfolio-content">
        <div class="row">
            <img src="/static/images/9.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="row">
            <img src="/static/images/4.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="row">
            <img src="/static/images/5.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="row">
            <img src="/static/images/6.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="row">
            <img src="/static/images/7.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="row">
            <img src="/static/images/8.jpg">
            <div class="layer">
                <h5>Visual Design</h5>
                <p>Check out 10 best Design's Update for the web design and development companies.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        
    </div>
</section>

<!---------------Contact Section---------->

<section class="contact" id="contact">
    <div class="contact-text">
        <h2>Contact<span>Me!</span></h2>
        <h4>If you have any project in your mind.</h4>
        <p>I am a website designer, creating bold and brave interface design for companies all across the world.</p>
        <div class="list">
            <li><a href="#">0123456789</a></li>
            <li><a href="#">nischal123321@gmail.com</a></li>
            <li><a href="#">[like share & subscribe]</a></li>

        </div>
        <div class="contact-icons">
            <a href="#" ><i class='bx bxl-facebook'></i></a>
            <a href="#" ><i class='bx bxl-twitter'></i></a>
            <a href="#" ><i class='bx bxl-instagram'></i></a>
            <a href="#" ><i class='bx bxl-youtube'></i></a>
        </div>
    </div>
    <div class="contact-form">
        <form action="">
         <input type="name" placeholder="Your Name" required>
         <input type="email" placeholder="Your Email" required>
         <input type="number" placeholder="Your Contact Number" required>
         <textarea name="" id="" cols="35" rows="10"  placeholder="How can I help you,Sir?" required></textarea>
         <input type="submit" value="Send Message" class="submit" required>


        </form>
    </div>
</section>


{% endblock %}